name: autofix.ci
on:
  pull_request:
  push:
    branches:
      - main
      - dev
permissions: {}
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: |
          npm i
          npx eslint ./web --fix
      - uses: autofix-ci/action@v1
        with:
          commit-message: "Apply ESLint fixes"
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: |
          npm i
          npx prettier ./web --write
      - uses: autofix-ci/action@v1
        with:
          commit-message: "Apply Prettier format"